/* ✅ 글로벌 스타일 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 기본 스타일 지정 */
@layer base {
  /* ✅ 전체 스크롤바 스타일 */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 29, 58, 0.18) transparent;
  }

  /* ✅ Webkit(Chrome, Edge, Safari) 스크롤바 스타일 */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 29, 58, 0.18);
    border-radius: 3px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  /* ✅ 바디 스타일 */
  body {
    @apply w-full h-full sm:p-10 md:p-14 text-sm leading-6 sm:text-[15px] sm:leading-7 md:text-base md:leading-7 
    text-gray-600 antialiased bg-[#FCFCFC];

    font-family: 'Pretendard Variable', sans-serif;
  }

  /* ✅ 메인 컨텐츠 스타일 */
  main {
    @apply max-w-2xl mx-auto relative; /* 최대 너비 2xl, 가운데 정렬 */
  }

  /* ✅ 텍스트 드래그 시 배경색 지정 */
  ::selection {
    background-color: #e6f3ff;
  }

  /* ✅ 링크 스타일 */
  a {
    @apply break-words decoration-gray-200 hover:text-[#0a85d1];
  }

  /* ✅ 새 창에서 열리는 링크에 아이콘 추가 */
  nav a[target='_blank'],
  .copyright a[target='_blank'],
  .single-post a[target='_blank'] {
    @apply text-gray-300 hover:text-[#0a85d1];

    content: '↗';
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1em;
    font-family: 'Pretendard Variable', sans-serif;
  }

  /* ✅ 본문 내 링크 스타일 */
  main a {
    @apply break-words underline underline-offset-4 decoration-gray-200 hover:text-[#0a85d1];
  }

  /* ✅ 제목 스타일 */
  h1 {
    @apply text-gray-800 text-xl mb-7;
  }

  h2 {
    @apply text-gray-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    word-break: keep-all;
  }

  /* ✅ 제목 내 링크 스타일 */
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a,
  button h2,
  button h3,
  button h4,
  button h5,
  button h6 {
    @apply hover:text-gray-800;
  }

  /* ✅ 본문 스타일 */
  p {
    @apply mt-6 text-gray-600;
  }

  /* ✅ 리스트 스타일 */
  ul {
    @apply list-disc pl-5;
  }

  ol {
    @apply list-decimal pl-5;
  }

  li {
    @apply mb-1;
  }

  /* ✅ .series 관련 스타일 */
  .series p {
    @apply mt-0;
  }

  /* ✅ .single-post 관련 스타일 */
  .single-post h1 {
    @apply mb-0;
  }

  .single-post blockquote {
    border-left: 4px solid #ccc;
    margin: 1em 0 0 1em;
    padding: 0.5em 1em;
    font-family: 'Gowun Dodum', serif;
    font-style: italic;
  }

  .single-post blockquote p {
    margin: 0;
    color: #666;
  }

  /* ✅ 중첩된 인용구 스타일 */
  .single-post blockquote blockquote {
    border-left: 0px;
    margin: 0em 0 0 0.5em;
    padding-left: 1em;
    color: #444;
    font-style: normal;
    position: relative;
  }

  .single-post blockquote blockquote p {
    color: #444;
  }

  /* ✅ 중첩된 인용구 앞에 `—`(대시) 추가 */
  .single-post blockquote blockquote::before {
    content: '—';
    position: absolute;
    left: -0.3em;
    color: #444;
    font-size: 1em;
  }

  .single-post img {
    @apply w-full rounded-lg mt-4;
  }
}

/* ✅ Tailwind 유틸리티 */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* 텍스트 균형 있게 줄바꿈 */
  }

  .text-keepall {
    word-break: keep-all; /* 단어 단위로 줄바꿈 */
  }
}
