@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 글로벌 스타일 */
@layer base {
  /* 전체 페이지의 기본 스타일 */
  body {
    @apply w-full h-full p-6 sm:p-10 md:p-14 text-sm leading-6 sm:text-[15px] sm:leading-7 md:text-base md:leading-7 
    text-gray-600 antialiased bg-[#FCFCFC];

    font-family: 'Pretendard', sans-serif; /* ✅ 기본 폰트로 Wanted Sans 적용 */
  }

  /* 메인 컨텐츠 영역 스타일 */
  main {
    @apply max-w-2xl mx-auto relative; /* 최대 너비 2xl, 가운데 정렬 */
  }

  /* ✅ 텍스트 드래그 시 배경색 지정 */
  ::selection {
    background-color: #e6f3ff; /* 연한 파란색 */
  }

  /* ✅ 링크 스타일 */
  main a {
    @apply break-words underline underline-offset-4 decoration-gray-200 hover:text-[#0a85d1];
    /* 긴 단어가 자동 줄바꿈됨, 밑줄 스타일 설정, 호버 시 색상 변경 */
  }

  /* ✅ 제목 스타일 */
  h1 {
    @apply font-semibold text-gray-800 text-xl mb-7; /* 제목 강조, 글씨 크기 조정 */
  }

  h2 {
    @apply font-semibold text-gray-600; /* h2 스타일 설정 */
  }

  /* ✅ 리스트 스타일 */
  main ul {
    @apply list-disc pl-5; /* 불릿 스타일을 동그라미로 설정하고 들여쓰기 추가 */
  }

  main li {
    @apply mb-1; /* 리스트 아이템 간 간격 추가 */
  }

  /* ✅ 본문 스타일 */
  p {
    @apply mt-6 text-gray-600; /* 문단 위쪽 여백 추가 */
  }

  /* ✅ 인용구 스타일 */
  blockquote {
    border-left: 4px solid #ccc; /* 왼쪽에 회색 줄 추가 */
    margin: 1em 0 0 1em; /* 기본 여백 설정 */
    padding: 0.5em 1em; /* 내부 여백 설정 */
    color: #666; /* 회색 텍스트 */
    font-family: 'Gowun Dodum', sans-serif; /* ✅ 폰트로 Wanted Sans 적용 */
  }

  blockquote p {
    margin: 0; /* 기본 여백 제거 */
  }
}

/* ✅ Pretendard 폰트 적용 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  /* 기본 폰트 Pretendard Regular */
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
  /* 강조된 폰트 Pretendard SemiBold */
}

/* ✅ Tailwind 유틸리티 */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* 텍스트 균형 있게 줄바꿈 */
  }
}
